<fieldset <%= html_attr wrapper %>>
  <%= "<legend><span>#{legend}</span></legend>" if legend.present? -%>
  <ol>
    <% Array(contents).each do |item| -%>
      <%= item -%>
    <% end %>
  </ol>
</fieldset>
